<! -- Interface acessada quando o usuario é um hospede do hotel, apresenta as informações, como preço, das acomodações disponiveis no hotel. -->

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type ="text/css" href="http://localhost/trabalho/css/acomodacao.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Acomodações</title>
	</head>
	<body>

		<header>
			Vila Nova<br>
			<div id="botao">
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/homeLogin.html'"><font color=white>Home</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/acomodacaoLogin.html'"><font color=white>Acomodações</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/servicoLogin.html'"><font color=white>Serviços</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/sobreLogin.html'"><font color=white>Sobre</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/home.html'"><font color=white>Sair</font></button>
			</div>
		</header>
		<div id="conte">
			<font size= 20px>Suite Contemporânea</font><br><br>
			Decorada com design moderno. Um ambiente especial, totalmente<br>
			dedicada para hóspedes que não dispensam o conforto.<br>
			Ela contempla  ar condicionado, televisão e frigobar.<br><br>
			Preço Diária R$958<br><br>
<!--
			<div id="bot">
				<button type="button" onclick="window.location='http://localhost/trabalho/view/fReservar.html'"><font color=white>Reservar</font></button>
			</div>	
-->
		</div>
		
		<div id="luxo">
			<font size= 30px>Suite Luxo</font><br><br>
			Suíte com 60m² e decorada por mobiliários de cores neutras. <br>
			Contempla, banheira de hidromassagem, banheiros duplos, sala,<br>
			cama King Size, e mais todos ao serviços da Suíte Comteporâranea.<br>
			Suíte elaborada especialmente para atender hóspedes que não <br>
			dispensam o belo. <br><br>
			Preço Diária R$2186<br><br>
<!--
			<div id="bot">
				<button type="button" onclick="window.location='http://localhost/trabalho/view/fReservar.html'"><font color=white>Reservar</font></button>
			</div>	
-->
		</div>
		
		<div id="pres">
			<font size= 30px>Suite Presidencial</font><br><br>
			Suíte com 80m² de alto luxo, com piso em mármore e granito. <br>
			Cama box super king, Hidromassagem, Frigobar, Mobília clássica, <br> 
			TV a cabo, Ar condicionado Split e Internet Wireless.<br><br>
			Preço Diária R$3891<br><br>
<!--
			<div id="bot">
				<button type="button" onclick="window.location='http://localhost/trabalho/view/fReservar.html'"><font color=white>Reservar</font></button>
			</div>
-->
		</div>
		
	</body>
