<! -- Interface acessada pelo funcionario do hotel para realizar uma reserva para um determinado hospede. -->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type ="text/css" href="http://localhost/trabalho/css/fReservar.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Reservar</title>
	</head>
	<body>

		<header>
			Vila Nova<br>
			<div id="botao">
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/homeFuncionario.html'"><font color=white>Home</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/acomodacaoFuncionario.html'"><font color=white>Acomodações</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/servicoFuncionario.html'"><font color=white>Serviços</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/reserva.html'"><font color=white>Reservas</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/fReservarFuncionario.html'"><font color=white> Fazer Reserva</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/sobreFuncionario.html'"><font color=white>Sobre</font></button>
				<button type="button" onclick="window.location='http://localhost/trabalho/view/conferircadastro.html'"><font color=white>Conferir Cadastro</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/home.html'"><font color=white>Sair</font></button>
			</div>
		</header>
		<div id = "box">
					<form  action="..\controller\C_validarReserva.php" method="POST">
					Data de Entrada: <input type="date" name="entrada"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
					Data Saida: <input type="date" name="saida"> <br><br>
				Serviços:<br> 
					<input type="radio" name="servico" value="1"> Centro fitness e Restaurante (R$225/dia) <br>
					<input type="radio" name="servico" value="2"> Centro fitness e SPA (R$250/dia) <br>
					<input type="radio" name="servico" value="3" > Restaurante e SPA(R$300/dia) <br>
					<input type="radio" name="servico" value="4" > Restaurante, Centro fitness e SPA(R$400/dia) <br><br>
				Tipo Quarto:<br> 
					<input type="radio" name="quarto" value="cont"> Contemporanea (R$958/dia) <br>
					<input type="radio" name="quarto" value="luxo"> Luxo (R$2186/dia) <br>
					<input type="radio" name="quarto" value="pres" > Presidencial(R$3891/dia) <br><br>
				Digite o CPF cadastrado: <input type="txt" name="cpf" maxlength='11' required> <br><br>
				<div id="botao">
					<input type="submit" value="Reservar">
				</div>
			</form>
		</div>
	</body>
