<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type ="text/css" href="http://localhost/trabalho/css/fReservar.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Reservar</title>
	</head>
	<body>

		<header>
			Vila Nova<br>
			<div id="botao">
				<button	type="button" onclick="window.location='http://localhost/trabalho/controller/C_validarLogin.php'"><font color=white>Home</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/acomodacao.html'"><font color=white>Acomodações</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/servico.html'"><font color=white>Serviços</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/reserva.html'"><font color=white>Reservas</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/sobre.html'"><font color=white>Sobre</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/home.html'"><font color=white>Sair</font></button>
			</div>
		</header>
		<div id = "box">
			<form  action="..\controller\C_validarReserva.php" method="POST">
				Data de Entrada: <input type="date" name="entrada"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				Data Saida: <input type="date" name="saida"> <br><br>
				Serviços:<br> 
					<input type="checkbox" name="vet[]" value="1"> Centro fitness (R$50/dia) <br>
					<input type="checkbox" name="vet[]" value="2"> Restaurante (R$100/dia) <br>
					<input type="checkbox" name="vet[]" value="3" > SPA(R$150/dia) <br><br>
				Tipo Quarto:<br> 
					<input type="radio" name="quarto" value="cont"> Contemporanea (R$958/dia) <br>
					<input type="radio" name="quarto" value="luxo"> Luxo (R$2186/dia) <br>
					<input type="radio" name="quarto" value="pres" > Presidencial(R$3891/dia) <br><br>
				Digite o CPF cadastrado: <input type="txt" name="cpf" maxlength='11' required> <br><br>
					  
				<div id= "total">
					Valor Total: 
				</div>
				<div id="botao">
					<input type="submit" value="Reservar">
				</div>
			</form>
		</div>
	</body>
