<! -- Interface inicial acessada por um hospede do hotel, depois de logado. -->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type ="text/css" href="http://localhost/trabalho/css/home.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vila Nova Hotel</title>
	</head>
	<body>

		<header>
			Vila Nova<br>
			<div id="botao">
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/homeLogin.html'"><font color=white>Home</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/acomodacaoLogin.html'"><font color=white>Acomodações</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/servicoLogin.html'"><font color=white>Serviços</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/sobreLogin.html'"><font color=white>Sobre</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/home.html'"><font color=white>Sair</font></button>
			</div>
		</header>
		
		<h2>
			Vila Nova<br>
			O primeiro 5 estrelas de Lavras,<br> 
			nosso Hotel é reconhecido pelo conforto e excelente <br>
			atendimento. Possui toda a infraestrutura para receber você<br> 
			em sua viagem  seja ela de lazer ou negócios.<br>
		</h2>
		
			
	</body>
