<! -- Interface acessada para que o usuario faça login no sistema, afim de ter acesso a mais funcionalidades.-->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type ="text/css" href="http://localhost/trabalho/css/login.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	
	<body>
		<header>
			Vila Nova<br>
			<div id="botao">
				<button	type="button" onclick="window.location='http://localhost/trabalho/home.html'"><font color=white>Home</font></a></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/acomodacao.html'"><font color=white>Acomodações</font></a></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/servico.html'"><font color=white>Serviços</font></a></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/sobre.html'"><font color=white>Sobre</font></a></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/login.html'"><font color=white>Login</font></a></button>
			</div>
		</header>
		<div id="box">
			<form action="..\controller\C_validarLogin.php" method="POST">
				<font size= 30px>Login</font><br><br>
				Email: <input type="email" name="email" required> <br><br>
				Senha: <input type="password" name="senha" required><br><br>
				<div id="bot">
					<input type="submit" value="Entrar">
				</div>
			</form>
		</div>
	</body>
