<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type ="text/css" href="http://localhost/trabalho/css/servico.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Serviços</title>
	</head>
	<body>

		<header>
			Vila Nova<br>
			<div id="botao">
				<button	type="button" onclick="window.location='http://localhost/trabalho/controller/C_validarLogin.php'"><font color=white>Home</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/acomodacaoLogin.html'"><font color=white>Acomodações</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/servicoLogin.html'"><font color=white>Serviços</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/reserva.html'"><font color=white>Reservas</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/fReservar.html'"><font color=white> Fazer Reserva</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/sobreLogin.html'"><font color=white>Sobre</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/home.html'"><font color=white>Sair</font></button>
			</div>
		</header>
		<div id="estac">
			<font size= 20px>Estacionamento</font><br><br>
			O hotel Vila Nova, conta com um amplo estacionamento e manobrista,  <br>
			para facilitar o dia a dia dos hospedes proporcionando um maior conforto. <br>
		</div>
		
		<div id="fit">
			<font size= 30px>Centro Fitness</font><br><br>
			O hotel Vila Nova, oferece uma ampla academia, com ambiente agradável, <br>
			ar condicionado e  o que há de mais inovador na área fitness.<br>
			Esse serviço necessita ser contratado.<br>
		</div>
		
		<div id="rest">
			<font size= 30px>Restaurante</font><br><br>
			Localizado no 1º andar em um ambiente agradável, o restaurante<br>
			do Vila Nova serve refeições de almoço entre as 11h00 e as 14h30 e jantar <br> 
			entre as 19h00 e as 22h00. É preciso fazer uma reserva prévia.<br>
		</div>
		
		<div id="spa">
			<font size= 30px>SPA</font><br><br>
			Nosso SPA dispõe de um local elegante e com estrutura específica para <br>
			oferecer aos hospedes tratamentos de saúde, beleza e bem-estar. <br>
			Necessita de reserva.<br>
		</div>
		
	</body>
