<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type ="text/css" href="http://localhost/trabalho/css/sobre.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sobre</title>
	</head>
	<body>
		<header>
			Vila Nova<br>
			<div id="botao">
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/homeFuncionario.html'"><font color=white>Home</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/acomodacaoFuncionario.html'"><font color=white>Acomodações</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/servicoFuncionario.html'"><font color=white>Serviços</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/reserva.html'"><font color=white>Reservas</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/fReservarFuncionario.html'"><font color=white> Fazer Reserva</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/view/sobreFuncionario.html'"><font color=white>Sobre</font></button>
				<button type="button" onclick="window.location='http://localhost/trabalho/view/conferircadastro.html'"><font color=white>Conferir Cadastro</font></button>
				<button	type="button" onclick="window.location='http://localhost/trabalho/home.html'"><font color=white>Sair</font></button>
			</div>
		</header>
		
		<div id="sobre">
<!--
			<font size= 30px>Quem Somos</font><br><br>
-->
			<h2>Quem Somos</h2>
			Descubra o Vila Nova,  fundado em 1995 em Lavras  hotel <br>
			foi cuidadosamente pensado na sua grandeza original e <br>
			conforto para os hospedes. <br>
			São 15 andares, 150 suítes, sendo 75 contemporâneas, <br>
			50 luxo e 25 presidências. <br>
			Os hóspede desfrutam de área de lazer com piscina climatizada, <br>
			 jacuzzi, saunas seca e úmida, sala de jogos e academia.  <br>
			Além do Restaurante Appetito, local onde é servido o famoso e delicioso <br>
			almoço Vila Nova.  <br>

		</div>
	</body>
