body {
	background-image: url("hotel.png");
}
#box{
	background: rgba(255, 255,255, 0.8);
	text-align: center;
	width: 40%;
	color: #B9A74A;
	text-shadow: 1px 0.5px  #7B6C20;
	margin-left: 30%;
	padding: 22px;
	resize: center;
	border-radius: 15px;
	font-size: 30px;
	margin-top: 5%;
}
input [type=text], [type=password], [type=email]{
	width: 50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
header{
	font-family: Harlow Solid;
	color: #DEC77D;
	text-shadow: 3px 2px white;
	font-size: 50px;
	background-color: #EEECEC;
	text-align: center;
	width: 95%;
	margin-bottom: 5%;
	padding: 22px;
	border-radius: 15px;
	font-weight: 800;
	background-image: url("VN.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 250px 200px;
}
#botao{
	margin-left: 7%;
}
#bot{
	margin-left: 7%;
}
button{
  background-color: #756c5f;
  font-family: Segoe UI Emoji;
  font-size: 17px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;

}
button:hover{
  background-color: #8b8173;
}
input [type=te], [type=submit]{
  background-color: #756c5f;
  font-family: Segoe UI Emoji;
  color: white;
  font-size: 17px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input [type=te]:hover,[type=submit]:hover{
  background-color: #8b8173;
}
